/* header {
    display: flex;
} */

h1 {
    text-align: center;
}

#game-cont {
    margin-top: 100px;
    margin-bottom: 20px;
}

#elements {
    display: flex;
    justify-content: space-around;
    margin: 50px 400px 50px 400px;
}

#menu {
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}


#result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-cont {
    width: 200px;
    height: 200px;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}

.img-1 {
    width: 80%;
    height: auto;
}